.header{
    width: 100%;
    height: 70px;
    background: #220046;
    position: fixed;
}
body{
    margin: 0;
}
.leheader{
    width: 50%;
    height: 50%;
    padding: 20px;
    float: left;
}
.logo{
    margin-top: 7px;
    margin-left: 20px;
    float: left; 
}
.link{
    float: left;
    margin-left: 25px;
    border-bottom: 3px solid #e10092;
    height: 48px;
    width: 100px;

}
.home{
    
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    text-decoration: none;
    margin-left: 20px;
    
}
.wa-lin{
    float: left;
    margin-left: 25px;
    height: 48px;
    width: 100px;

}
.watch{
    color: #e10092;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    text-decoration: none;
    margin-left: 5px;

}
.rtheader{
    width: 19%;
    height: 50%;
    float: left;
    padding: 15px;
    margin-left: 320px;
}
.btn{
    background: #e83e8c;
    border: #e83e8c;
    width: 130px;
    height: 35px;
    float: left;
    padding: 5px;
    

}
.btn:hover{
    background-color:#e10092;
}
.rech{
    color: #fff;
    margin-top: -25px;
    margin-left: 24px;
    font-size: 14px;
    font-family: VoltePlay-Regular,tahoma;
    letter-spacing: 1px;


}
.relink{
    text-decoration: none;
}
.rupee{
    margin-left: -90px;

}
.hbtn{
    background: #e83e8c;
    border: #e83e8c;
    width: 130px;
    height: 35px;
    margin-left: 17px;

}
.hbtn:hover{
    background-color:#e10092;

}
.help{
    color: #fff;
    margin-top: -21px;
    margin-left: 30px;
    font-size: 14px;
    font-family: VoltePlay-Regular,tahoma;
    letter-spacing: 1px;
}
.helpb{
    margin-left: -85px;
    margin-top: 5px;
}
.user{
    padding: 7px;
    border: 1px solid #fff;
    border-radius: 50px;
    float: left;
    margin-top: 12px;
}
.body{
    width: 100%;
    height: 550px;
    background: #6610f2;
    padding-top: 75px;
}
.mnlogo{
    width: 210px;
    height: 110px;
    background: #6610f2;
    margin-left: 643px

}
.play{
    width: 215px;
    height: 110px;
}
.Customerword{
    margin-left: 652px;
    color: #fff;
    font-size: 22px;
    font-family: VoltePlay-Regular,tahoma;
    font-weight: lighter;
    letter-spacing: 1px;
}
.account{
    width: 150px;
    height: 50px;
    margin-left: 605px;
}
.usericon{
    width: 25px;
    height: 25px;
    margin-left: -160px;
    margin-bottom: -8px;
    margin-top: 11px;
}
.aclogin{
    width: 290px;
    height: 55px;
    background: #e10092;
    
    border: #e10092;

}
.aclogin:hover{
    background-color:#ff3392 ;
}
.gtmacount{
    color: #fff;
    
    margin-top: -17px;
    margin-left: 20px;
    font-size: 15px;
    font-family: VoltePlay-Regular,tahoma;
    letter-spacing: 1px;

}
.notacustomer{
    margin-left: 612px;
    color: #fff;
    font-size: 22px;
    font-family: VoltePlay-Regular,tahoma;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 50px;

}
.dthb{
    width: 290px;
    height: 55px;
    background: #e10092;
    
    border: #e10092;
    margin-left: 300px;

}
.dthb:hover{
    background-color: #ff3392;
}
.dth-ott{
    width: 290px;
    height: 55px;
    background: #e10092;
    
    border: #e10092;
    margin-left: 12px;

}
.dth-ott:hover{
    background-color: #ff3392;
}
.ott{
    width: 290px;
    height: 55px;
    background: #e10092;
    
    border: #e10092;
    margin-left: 12px;

}
.ott:hover{
    background-color: #ff3392;
}
.dth{
    color: #fff;
    font-size: 15px;
    font-family: VoltePlay-Regular,tahoma;
    letter-spacing: 1px;
}
.dt-ott{
    color: #fff;
    font-size: 15px;
    font-family: VoltePlay-Regular,tahoma;
    letter-spacing: 1px;
}
.ottonly{
    color: #fff;
    font-size: 15px;
    font-family: VoltePlay-Regular,tahoma;
    letter-spacing: 1px;
}
.headimage{
    margin-left: 580px;
    margin-top: 25px;
}
.footer{
    width: 100%;
    height: 630px;
   background: rgba(107, 0, 221, 0.05);
   margin-top: -16px;
}
.para1{
    margin-left: 350px;
    font-size: 11px;
    font-family: VoltePlay-Regular,tahoma;
    padding-top: 50px;
    letter-spacing: 1px;
    color: #444444ab;
}
.wisdth{
    margin-left: 350px;
    font-size: 11px;
    font-family: VoltePlay-Regular,tahoma;
    padding-top: 7px;
    letter-spacing: 1px;
    color: #444;

}
.answer{
    margin-left: 350px;
    font-size: 13px;
    font-family: VoltePlay-Regular,tahoma;
    letter-spacing: 1px;
    color: #444444ab;
    

}
.bmore{
    margin-left: 344px;
    background: transparent;
    border: transparent;
    cursor: pointer;
}
.more{
    color: #e10092;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}
.socialm{
    width: 63%;
    height: 42px;
    margin-top: 80px;
    display: flex;
    padding-left: 550px;
}
li{
    display: inline;
    margin: 5px;
}

}
.compliance{
    margin-left: 628px;
    margin-top: 60px;
    
}
.ccorner{
    color: #575757;
    font-family: VoltePlay-Regular,tahoma;
    font-size: 13px;
    font-weight: normal;
    margin-left: 650px;
    margin-top: 62px;
}
.address{
    margin-left: 20px;
    font-size: 10px;
    font-family: VoltePlay-Regular,tahoma;
    padding-top: 50px;
    letter-spacing: 1px;
    color: #444444ab;
    text-align: center;

}
.lastpara{
    margin-left: 20px;
    font-size: 10px;
    font-family: VoltePlay-Regular,tahoma;
    padding-top: 50px;
    letter-spacing: 1px;
    color: #444444ab;
    text-align: center;

}

